<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="css/style.css">

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<head>
    <meta charset='utf-8'/>
    <title>Ana Sofia Barrows - [TITLE]</title>
</head>

<body>

<header>
    <h1><a href="index.html">Ana Sofia Barrows</a></h1>
</header>

<aside>
    <ul style="list-style-type:none">
        <li><a href="index.html">about</a></li>
        <li><a href="events.html">events</a></li>
        <li><a href="talks.html">talks</a></li>
        <li><a href="media.html">media</a></li>
        <li><a href="http://instagram.com/sofia.thephotographer">photography</a></li>
        <li><a href="contact.html">contact</a></li>
    </ul>
</aside>

<article>
